API_URL_1=https://unsalubriously-unfragrant-rosetta.ngrok-free.dev/api/vehicle-details-only?regn_no={VEHICLE_NO}
API_URL_2=https://randkikichut.vercel.app/?vehicle_number={VEHICLE_NO}
API_URL_3=https://cjpen.vercel.app/vehicle/{VEHICLE_NO}
API_URL_4=https://cjpen.vercel.app/vehicle/{VEHICLE_NO}
ALLOW_INSECURE_SSL=False
